h2.title-hr
  span Learn &amp; Participate
section.button-grid

  btn.homepage-blue-button-1.homepage-btn.homepage-btn--left
      span.title Learn About Elections
          span
          br
          span.desc
              | What you need to know to get started
              span
              br
  btn.homepage-blue-button-2.homepage-btn.homepage-btn--right
      span.title
          | Register Your School
          span
          br
          span.desc
              | Get your school ready for the mock election
              span
              br
  btn.homepage-blue-button-3.homepage-btn.homepage-btn--left
      span.title
          | Resources
          span
          br
          span.desc
              | Tools, guides and material
              span
              br
  btn.homepage-blue-button-4.homepage-btn.homepage-btn--right
      span.title
          | Register To Vote
          span
          br
          span.desc
              | Ready for the real thing? 
              span
              br
