footer
  section.container
    div
      h3 Contact Us
      address
        | P.O. Box 68187
        br
        |             Tucson, Arizona 85737
        br
        |             939-227-5238
    div
      h3 The Mock Election
      ul
        li
          a(href='#') About
        li
          a(href='#') Resource
        li
          a(href='#') Get Involved
    div
      h3 Stay Connected
      form
        input(type='email', name='Email', id='', placeholder='Enter your email')
        input(type='submit', value='Subscribe')
      .social-icons
        ul
