section.get-involved
  h2.get-involved__title Get Involved
  .get-involved__cta-section
    p.get-involved__cta-title Vote in a Mock Election
    a.btn.btn--ghost(href='#') Sign Up To Vote
  hr.get-involved__hr
  .get-involved__cta-section
    p.get-involved__cta-title Promote Your Mock Election
    a.btn.btn--ghost(href='#') Get Promo Material
