header
  nav.nav.nav-main
    .nav__items-logo
      img(src='/assets/Nspme-logo.svg', alt='Mock Election logo')
    .nav__toggle
      img(src='/assets/Menubars.svg')
    ul.nav__items
      li
        a(href='#') About
      li
        a(href='#') Students
      li
        a(href='#') Parents
      li
        a(href='#') Teachers
      li
        a(href='#') Resources
      li#CTA
        a(href='#')
          span Vote
          br
          | at your school
      li
        a.donate(href='#') Donate
