.container
  section.infographic
    .infographic__row
      .infographic__col
        img(src='/assets/You-Have-The-Numbers.gif')
      .infographic__col
        img(src='/assets/You-Showed-Up.gif')
    .infographic__row
      .infographic__col
        img(src='/assets/Infographic_Hands.gif')
      .infographic__col
        img(src='/assets/You_ve-Done-It-Before.gif')
      .infographic__col
        img(src='/assets/Infographic_LastingImpact.gif')
