.social
  ul
    li
      a(href='https://www.facebook.com/nationalstudentparentmockelection/')
        i.fab.fa-facebook-square
    li
      a(href='https://twitter.com/NSPME_USA')
        i.fab.fa-twitter
    li
      a(href='http://nationalstudentparentmockelection.org/index.php?route=information/contact')
        i.fas.fa-link
