section.container
  blockquote.testimonial
    span.testimonial__quote-bubble
      | "
    p.testimonial__text
      strong I really wish I could vote.
      br
      | Some people say one vote isn’t a big difference, but I think it is.
    p.testimonial__person
      | Peter McAleer, 16, Connecticut
