h2.title-hr
  span Explore 2016 Mock Election Results
section.us-map
  .us-map__bar-chart
    .us-map__bar-chart-labels
      label
        strong Democrats
        |  306
      label
        strong Republicans
        |  232
    .us-map__bar-chart-bars
      .us-map__bar-chart-bar
      .us-map__bar-chart-bar
  span.us-map__target
  .us-map__modal
    p.us-map__modal-state California
    p#votes.us-map__stat 55 votes
    p#hillary.us-map__stat 83% Hillary Clinton
    p#donald.us-map__stat 55% Donald Trump
  #map(style='height: 60vh; width: 85vh;')
  #clicked-state
