.hero {
  margin-bottom: 3em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/hero-desktop.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  .hero__title {
    text-align: center;
    margin-top: 32px;
    color: white;
    font-size: 44px;
    line-height: 1.5;
    @include width-more-than($tablet-breakpoint) {
      font-size: 64px;
      line-height: 1.5;
    }
  }
  .hero__separator {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
    @include width-more-than($tablet-breakpoint) {
      width: 100px;
    }
  }
  .hero__subtitle {
    margin-bottom: 32px;
    text-align: center;
    color: white;
    font-weight: 300;
  }
  .hero__subheader {
    @extend .title-1;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 24px;
    bottom: 20px;
    color: white;
    @include width-more-than($tablet-breakpoint) {
      font-size: 32px;
    }
  }
  @include width-more-than($tablet-breakpoint) {
    height: 600px;
  }

  .hero__subheader, .hero__content {
    animation: fadeIn;
    animation-duration: 2s;
  }
  .hero__animated-text {
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  .hero__animated-text.hero__animated-text--border {
    border-bottom: 5px solid white;
    padding: 5px;
  }
}

.hero.hero--user {
  .hero__content {
    position: absolute;
    bottom: 0; 
    left: 0; 
    display: flex; 
    flex-direction: row; 
  }
  .hero__content-icon {
    display: flex;
    justify-content: center;
    width: 100px;
    @include width-more-than($tablet-breakpoint) {
      width: auto;
    }
  }
  .hero__title {
    font-size: 44px; 
    margin-bottom: 0; 
    @include width-more-than($tablet-breakpoint) {
      font-size: 52px;
    }
  }
}

.hero.hero--student {
  background-image: url('/assets/hero-student.png');
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}
