@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease; }

h1, .title-1, .hero .hero__subheader, .hot-stats .hot-stats__title {
  margin-bottom: 64px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
  font-style: italic; }
  @media (min-width: 768px) {
    h1, .title-1, .hero .hero__subheader, .hot-stats .hot-stats__title {
      font-size: 44px;
      line-height: 56px; } }

h2, .title-2 {
  margin-bottom: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900; }
  @media (min-width: 768px) {
    h2, .title-2 {
      font-size: 32px;
      line-height: 36px; } }

h3, .title-3, .poll .poll__question {
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }
  @media (min-width: 768px) {
    h3, .title-3, .poll .poll__question {
      font-size: 24px;
      line-height: 28px; } }

p, .base, .btn, ul li, ol li, form input[type=text], form textarea, form select, .us-map .us-map__bar-chart-labels label {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px; }
  @media (min-width: 768px) {
    p, .base, .btn, ul li, ol li, form input[type=text], form textarea, form select, .us-map .us-map__bar-chart-labels label {
      font-size: 17px;
      line-height: 24px; } }

small, .small, form label {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300; }
  @media (min-width: 768px) {
    small, .small, form label {
      font-size: 14px;
      line-height: 20px; } }

a {
  color: #436BC4;
  border-bottom: solid 1px #436BC4; }
  a:hover {
    cursor: pointer; }

button:hover {
  cursor: pointer; }

.btn-container {
  margin: 48px 0; }

.btn {
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  border-bottom: 0; }
  @media (min-width: 768px) {
    .btn {
      padding: 15px 30px; } }
  .btn:hover {
    opacity: 0.8; }

.btn--primary {
  background-color: #FF351C; }

.btn--secondary {
  background-color: #436BC4; }

.btn--tertiary {
  background-color: #2d2d2d; }

.btn.btn--primary-large {
  padding: 20px 50px; }
  @media (min-width: 768px) {
    .btn.btn--primary-large {
      padding: 20px 70px; } }

.btn--fullwidth {
  display: block;
  text-align: center;
  width: 100%; }

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 80%; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: linear-gradient(to left, #FF351C, #B0007C);
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  background: goldenrod;
  background: url("https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Emoji_with_Smiling_Eyes_large.png?v=1480481060") no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -15px;
  border-radius: 0 !important;
  transition: 0.3s ease; }
  input[type=range]::-webkit-slider-thumb:focus, input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.5); }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to left, #FF351C, #B0007C); }

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: url("/assets/emoji.png"); }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: url("../assets/emoji.png"); }

input[type=range]:focus::-ms-fill-lower {
  background: #888; }

input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }

.sg .sg-section {
  margin: 64px 0; }

.sg .sg-section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #707070;
  font-size: 18px;
  margin-bottom: 16px !important; }

.sg-section#typography > * {
  margin-bottom: 64px; }

ul, ol {
  margin-bottom: 24px;
  counter-reset: list; }
  ul li, ol li {
    position: relative;
    padding-left: 24px;
    list-style-type: none; }
    ul li:before, ol li:before {
      content: '\2022';
      /* The unicode for • character */
      position: absolute;
      left: 0;
      top: 3px;
      font-size: 40px;
      color: #aaa; }

ol li:before {
  top: 0px;
  font-size: 17px;
  counter-increment: list;
  content: counter(list); }

form {
  max-width: 500px; }
  form label {
    display: block;
    margin-bottom: 16px; }
  form input[type=text], form textarea {
    display: block;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 10px;
    width: 100%; }
  form textarea {
    height: 150px; }
    @media (min-width: 768px) {
      form textarea {
        height: 250px; } }
  form select {
    padding: 10px;
    background-color: white;
    color: #707070;
    -webkit-appearance: none;
    width: 80%; }

form.form--center {
  margin: 0 auto; }

.poll {
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .poll .poll__question {
    color: #2d2d2d;
    font-weight: 800;
    font-style: italic; }
  .poll .poll__answer-btn {
    border-radius: 5px;
    border: 0; }
  .poll:hover {
    transform: scale(1.1); }

.poll.poll--1 .poll__answer {
  text-align: center; }

.poll.poll--1 .poll__answer-btn {
  margin-right: 15px; }

.poll.poll--1 .poll__answer .poll__answer-btn:nth-child(1) {
  color: white;
  background: linear-gradient(#FF351C, #B0007C); }

.poll.poll--1 .poll__answer .poll__answer-btn:nth-child(2) {
  color: white;
  background: linear-gradient(#41C5FF, #436BC4); }

.poll.poll--2 {
  padding-bottom: 2em; }
  .poll.poll--2 .poll__answer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .poll.poll--2 .poll__answer {
        flex-direction: row; } }
  .poll.poll--2 .poll__answer-option-group {
    margin-bottom: 1em;
    margin-right: 15px; }
    @media (min-width: 768px) {
      .poll.poll--2 .poll__answer-option-group {
        margin-bottom: 0; } }
  .poll.poll--2 .poll__answer label {
    display: inline;
    margin-left: 5px; }
  .poll.poll--2 .btn--secondary {
    font-size: 12px; }

.poll.poll--3 {
  padding-bottom: 2em; }
  .poll.poll--3 .poll__answer-option-group {
    margin-top: 2em;
    text-align: center; }
  .poll.poll--3 .poll__answer {
    text-align: center; }

.poll.poll--4 .poll__answer {
  text-align: center; }

.poll.poll--4 .poll__answer-btn {
  display: block;
  margin-right: 15px; }

.poll.poll--4 .poll__answer .poll__answer-btn:nth-child(1) {
  color: white;
  background: linear-gradient(to right, #FF351C, #B0007C); }

.poll.poll--4 .poll__answer .poll__answer-btn:nth-child(2) {
  color: white;
  background: linear-gradient(to right, #41C5FF, #436BC4); }

.testimonial {
  margin: auto 0;
  width: 80%;
  max-width: 640px;
  font-family: "Roboto", sans-serif;
  padding: 3em 1em 1em;
  text-align: center;
  position: relative; }
  .testimonial-border {
    border: 1px solid #9a9a9a;
    border-radius: 5px; }
  .testimonial__quote-bubble {
    font-size: 3em;
    line-height: 1.5em;
    color: white;
    background: #FF351C;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -.5em;
    left: 44.5%;
    z-index: 100;
    margin: 0 auto;
    height: 45px;
    width: 45px; }
    @media (min-width: 768px) {
      .testimonial__quote-bubble {
        font-size: 4em;
        line-height: 1.5em;
        width: 60px;
        height: 60px; } }
  .testimonial__text {
    font-size: 1.6em;
    line-height: 1.2em; }
    @media (min-width: 768px) {
      .testimonial__text {
        font-size: 2em; } }
  .testimonial__person {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 20px; }

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/hero-desktop.png");
  background-size: cover;
  background-position: center;
  height: 500px; }
  .hero .hero__title {
    margin-top: 32px;
    color: white;
    font-size: 44px;
    line-height: 1.5; }
    @media (min-width: 768px) {
      .hero .hero__title {
        font-size: 64px;
        line-height: 1.5; } }
  .hero .hero__separator {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .hero .hero__separator {
        width: 100px; } }
  .hero .hero__subtitle {
    margin-bottom: 32px;
    text-align: center;
    color: white;
    font-weight: 300; }
  .hero .hero__subheader {
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 24px;
    bottom: 20px;
    color: white; }
    @media (min-width: 768px) {
      .hero .hero__subheader {
        font-size: 32px; } }
  @media (min-width: 768px) {
    .hero {
      height: 600px; } }
  .hero .hero__subheader, .hero .hero__content {
    animation: fadeIn;
    animation-duration: 2s; }
  .hero .hero__animated-text {
    transition: all 0.3s ease;
    text-transform: uppercase; }
  .hero .hero__animated-text.hero__animated-text--border {
    border-bottom: 5px solid white;
    padding: 5px; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.hot-stats {
  overflow: auto;
  background: url("/assets/gradient-texture.png");
  background-size: cover;
  background-position: center; }
  .hot-stats .poll {
    transition: transform 0.5s ease;
    clear: both;
    width: 80%;
    margin: 2em auto;
    float: unset; }
    @media (min-width: 768px) {
      .hot-stats .poll {
        float: right;
        max-width: 1000px; } }
  .hot-stats .poll.before-fade-in {
    transform: translateX(2000px); }
  .hot-stats .poll:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .hot-stats .hot-stats__title {
    font-size: 32px;
    text-align: center;
    color: white; }
    @media (min-width: 768px) {
      .hot-stats .hot-stats__title {
        font-size: 40px; } }
  .hot-stats .hot-stats__title-top {
    font-weight: 400; }
  .hot-stats .hot-stats__title-bottom {
    text-transform: uppercase; }
  .hot-stats .hot-stats__title-icon {
    display: block;
    margin: 0 auto;
    width: 100px; }
  @media (min-width: 768px) {
    .hot-stats .hot-stats__polls {
      width: 50%;
      margin-top: 4em;
      float: right; } }
  @media (min-width: 768px) {
    .hot-stats .poll--1 {
      width: 100%;
      max-width: 600px; } }
  @media (min-width: 768px) {
    .hot-stats .poll--2 {
      width: 100%;
      max-width: 600px; } }
  @media (min-width: 768px) {
    .hot-stats .poll--3 {
      width: 80%;
      max-width: 600px; } }
  .hot-stats .hot-stats__facts {
    margin-top: 2em;
    text-align: center; }
    @media (min-width: 768px) {
      .hot-stats .hot-stats__facts {
        float: left;
        width: 50%; } }
  .hot-stats .hot-stats__facts-title-icon {
    margin-right: 15px; }
  .hot-stats .hot-stats__facts-title {
    display: flex;
    justify-content: center; }

.fact {
  transition: transform 0.5s ease;
  position: relative;
  width: 250px;
  padding: 2em;
  border: 1px solid white;
  margin: 2em auto 5em auto; }
  @media (min-width: 768px) {
    .fact {
      width: 350px; } }
  .fact:hover {
    transform: scale(1.1); }

@media (min-width: 768px) {
  .fact--shifted {
    margin-left: 10%; } }

.fact.before-fade-in {
  transform: translateX(-2000px); }

.fact__share {
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  border-bottom: 0; }

.fact__share img {
  width: 25px; }

.fact__text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic; }

.fact__text--large {
  font-size: 40px;
  line-height: 1.1; }

.fact__text--no-bottom {
  margin-bottom: 0; }

.card {
  background-color: white;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid #9a9a9a;
  border-top: 5px solid #436BC4;
  margin: 2rem;
  position: relative; }
  .card__title, .card__text {
    padding: 1rem 1rem .75rem;
    margin: 0; }
  .card__image {
    overflow: hidden;
    background: linear-gradient(to bottom, #41C5FF, #436BC4);
    height: 12em;
    display: inline-block;
    opacity: .7; }
    .card__image img {
      position: relative;
      z-index: -2;
      display: block;
      max-width: 100%; }
  .card:hover {
    transform: translate3d(10px, -10px, 0);
    box-shadow: -10px 10px #41C5FF; }

#map {
  margin: 4em auto 0 auto; }

.us-map .us-map__target {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 8px solid rgba(221, 221, 221, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 50%;
  z-index: 2; }

.us-map .us-map__modal {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid #9a9a9a;
  padding: 1em;
  width: 250px;
  border-radius: 5px; }

.us-map .us-map__modal-state {
  font-size: 24px;
  color: #436BC4;
  font-weight: 700;
  margin-bottom: 10px; }

.us-map .us-map__stat {
  margin-left: 15px;
  margin-bottom: 0; }

.us-map .us-map__bar-chart {
  margin: 0 auto;
  width: 60%;
  max-width: 640px; }

.us-map .us-map__bar-chart-labels label:nth-child(1) {
  float: left; }

.us-map .us-map__bar-chart-labels label:nth-child(2) {
  float: right; }

.us-map .us-map__bar-chart-labels:after {
  clear: both;
  display: table;
  content: ''; }

.us-map .us-map__bar-chart-bars {
  position: relative; }
  .us-map .us-map__bar-chart-bars .us-map__bar-chart-bar {
    position: absolute;
    border-radius: 2px;
    height: 20px; }
  .us-map .us-map__bar-chart-bars .us-map__bar-chart-bar:nth-child(2) {
    animation: rep-grow;
    animation-duration: 0.5s;
    left: 65%;
    width: 35%;
    background: linear-gradient(to right, #FF351C, #B0007C); }
  .us-map .us-map__bar-chart-bars .us-map__bar-chart-bar:nth-child(1) {
    animation: dem-grow;
    animation-duration: 0.5s;
    margin-right: 2px;
    left: 0;
    width: 64%;
    background: linear-gradient(to right, #41C5FF, #436BC4); }

@keyframes dem-grow {
  0% {
    width: 0%; }
  100% {
    width: 64%; } }

@keyframes rep-grow {
  0% {
    width: 0%; }
  100% {
    width: 35%; } }

.title-hr {
  text-align: center;
  position: relative; }

.title-hr span {
  background-color: white; }

.title-hr:before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  width: 100vw;
  border-bottom: 1px solid #dedede;
  z-index: -1; }
  @media (min-width: 768px) {
    .title-hr:before {
      top: 20px; } }

header {
  display: flex;
  flex-direction: column; }
  header a {
    font-family: "Montserrat", sans-serif; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .nav {
      flex-direction: row;
      justify-content: space-between; } }
  .nav__items {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    line-height: 2;
    indent: 0;
    display: none; }
    @media (min-width: 768px) {
      .nav__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding-right: 2rem; } }
    .nav__items-logo img {
      width: 100%;
      max-height: 6rem; }
  .nav li {
    padding: 0;
    margin: 0;
    list-style: none; }
    @media (min-width: 768px) {
      .nav li {
        margin-left: 1rem; } }
    @media (min-width: 1280px) {
      .nav li {
        margin-left: 2rem; } }
    .nav li:before {
      content: '';
      position: initial; }
  .nav a {
    font-weight: 600;
    font-size: 14px;
    color: #436BC4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 0; }
    .nav a:hover {
      color: #FF351C;
      border-bottom: 2px solid #FF351C; }
  .nav__toggle {
    color: #436BC4;
    align-self: flex-end;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border-bottom: 0;
    width: 40px; }
    @media (min-width: 768px) {
      .nav__toggle {
        display: none; } }
    .nav__toggle img {
      max-width: 100%; }
    .nav__toggle-Show {
      display: flex; }

#CTA {
  line-height: 1;
  background-color: #FF351C;
  padding: 1rem;
  margin-bottom: 1rem;
  align-self: stretch;
  text-align: center;
  border: 1px solid #FF351C; }
  #CTA a {
    color: white; }
  @media (min-width: 768px) {
    #CTA {
      padding: 2.1rem 1rem 1.5rem;
      position: relative;
      margin-top: -1.5rem;
      margin-bottom: 0;
      bottom: -1rem; } }
  #CTA span {
    font-size: 1.5em;
    font-style: italic;
    weight: 900; }
  #CTA:hover {
    background-color: white; }
    #CTA:hover a {
      color: #41C5FF; }

footer {
  border: 1px solid #436BC4;
  border-top: 34px solid #436BC4;
  line-height: 1; }
  footer .container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start; }
  footer h3 {
    font-family: "Montserrat", sans-serif;
    color: #233975; }
  @media (min-width: 768px) {
    footer div:last-of-type {
      margin-left: 20%; } }
  footer ul {
    list-style: none;
    line-height: 1em; }
  footer li {
    padding: 0;
    margin: 0; }
  footer li:before {
    content: '';
    position: initial; }
  footer a {
    text-decoration: none;
    border-bottom: none;
    color: #233975; }
  footer address,
  footer a {
    font-family: "Roboto", sans-serif;
    font-style: normal; }
  footer input {
    font-family: "Roboto", sans-serif;
    font-size: 1em; }
  footer input[type="email"] {
    padding: .5em;
    border: 1px solid #233975;
    border-radius: 0 0 5px 5px; }
  footer input[type="submit"] {
    background-color: #FF351C;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: .59em;
    outline: 0;
    border: 0;
    margin-left: -8px; }

.accordion {
  padding: 1em;
  border-top: 5px solid #436BC4;
  border-left: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer; }
  .accordion .accordion__title {
    position: relative;
    font-weight: 700;
    margin-bottom: 0; }
  .accordion .accordion__title:after {
    transition: all 0.3s ease;
    position: absolute;
    content: '';
    background-image: url(/assets/chevron.png);
    width: 20px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
    right: 0; }
  .accordion .accordion__description {
    margin-bottom: 0;
    transition: all 0.3s ease-out;
    max-height: 0px;
    height: auto;
    overflow: hidden; }

.accordion.accordion--open .accordion__description {
  margin-top: 1em;
  max-height: 500px; }

.accordion.accordion--open .accordion__title:after {
  transform: rotate(180deg); }
