* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

@import 'variables';
@import 'mixins';
@import 'typography';
@import 'style-guide';
@import  'lists';
@import 'forms';
@import 'polls';
@import 'testimonials';
@import 'hero';
@import 'hotstats';
@import 'cards';
@import 'usmap';
@import 'header';
@import 'accordion'; 
