$title-font: 'Montserrat', sans-serif;
$regular-font: 'Roboto', sans-serif;
$lg-space: 64px;
$md-space: 48px;
$base-space: 24px;
$sm-space: 16px;

h1, .title-1 {
  margin-bottom: $lg-space;
  font-family: $title-font;
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
  font-style: italic;
  @include width-more-than($tablet-breakpoint) {
    font-size: 44px;
    line-height: 56px;
  }
}

h2, .title-2 {
  margin-bottom: $md-space;
  font-family: $title-font;
  font-size: 24px;
  line-height:28px;
  font-weight: 900;
  @include width-more-than($tablet-breakpoint) {
    font-size: 32px;
    line-height:36px;
  }
}

h3, .title-3 {
  margin-bottom: $base-space;
  font-family: $regular-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  @include width-more-than($tablet-breakpoint) {
    font-size: 24px;
    line-height: 28px;
  }
}

p, .base {
  margin-bottom: $sm-space;
  font-family: $regular-font;
  font-size: 15px;
  line-height: 20px;
  @include width-more-than($tablet-breakpoint) {
    font-size: 17px;
    line-height: 24px;
  }
}

small, .small {
  margin-bottom: $sm-space;
  font-family: $regular-font;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  @include width-more-than($tablet-breakpoint) {
    font-size: 14px;
    line-height: 20px;
  }
}

a {
  color: #436BC4;
  border-bottom: solid 1px #436BC4;
  &:hover {
    cursor: pointer;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}



.btn-container {
  margin: $md-space 0;
}

.btn {
  padding: 10px 25px;
  @extend .base;
  color: white;
  border-radius: 5px;
  border-bottom: 0;
  @include width-more-than($tablet-breakpoint) {
    padding: 15px 30px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.btn--primary {
  background-color: $bright-red;
}

.btn--secondary {
  background-color: $blue;
}

.btn--tertiary {
  background-color: $black;
}

.btn.btn--primary-large {
  padding: 20px 50px;
  @include width-more-than($tablet-breakpoint) {
    padding: 20px 70px;
  }
}

.btn--fullwidth {
  display: block;
  text-align: center;
  width: 100%;
}
