#map {
  margin: 4em auto 0 auto;
}

.us-map {
  position: relative;
  overflow: hidden;
  .us-map__target {
    display: none !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 8px solid rgba(221, 221, 221, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 50%;
    z-index: 2;
  }
  .us-map__modal {
    display: block;
    position: absolute; 
    left: -9999px;
    top: -9999px;
    z-index: 2; 
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #9a9a9a;
    padding: 1em;
    width: 250px;
    border-radius: 5px;
  }
  .us-map__modal-state {
    font-size: 24px;
    color: $blue;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .us-map__stat {
    margin-left:  15px;
    margin-bottom: 0; 
  }
  .us-map__bar-chart {
    margin: 0 auto;
    width: 60%; 
    max-width: 640px;
  }
  .us-map__bar-chart-labels {
    label {
      @extend .base;
    }
    label:nth-child(1) {
      float: left;
    }
    label:nth-child(2) {
      float: left;
      @include width-more-than($mobile-breakpoint) {
        float: right;
      }
      
    }
    &:after {
      clear: both;
      display: table;
      content: '';
    }
  }
  .us-map__bar-chart-bars {
    position: relative;
    .us-map__bar-chart-bar {
      position: absolute;
      border-radius: 2px;
      height: 20px; 
    }
    .us-map__bar-chart-bar:nth-child(2) {
      //animation: rep-grow;
      animation-duration: 0.5s;
      left: 65%;
      width: 0%;
      background: linear-gradient(to right, $bright-red, $purple); 
    }
    .us-map__bar-chart-bar:nth-child(1) {
      //animation: dem-grow;
      animation-duration: 0.5s;
      margin-right: 2px;
      left: 0;
      width: 0%;
      background: linear-gradient(to right, $bright-blue, $blue); 
    }
  }
}

.us-map--add-animation {
   .us-map__bar-chart-bar:nth-child(1) {
      animation: dem-grow;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;  
   }
  .us-map__bar-chart-bar:nth-child(2) {
    animation: rep-grow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;  
   }
}

#map {
  position: relative;
}

@keyframes dem-grow {
  0% {
    width: 0%;
  }
  100% {
    width: 64%;
  }
}

@keyframes rep-grow {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

.title-hr {
  margin: 2em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  clear: both;
}
.title-hr span {
  background-color: white;
}
.title-hr:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    width: 100vw;
    border-bottom: 1px solid #dedede;
    z-index: -1;
    @include width-more-than($tablet-breakpoint) {
      top: 20px;
    }
}
