$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$bright-red: #FF351C;
$purple: #B0007C;
$blue: #436BC4;
$bright-blue: #41C5FF;
$dark-blue: #233975;
$black: #2d2d2d;
$grey: #9a9a9a;
